<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<img src="assets/img/duoc.png" alt="" class="ion-margin">
<p class="ion-text-center">
  <img src="assets/img/user.png" alt="20" width="20%">
</p>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/home']" type="submit" color="danger" expand="block">Ingresar</ion-button>
        
      </ion-col>
      
    </ion-row>
  </form>
  
</ion-content>
